@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base { 
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-primary-foreground; 
  }
  h2 {
    @apply text-primary font-bold; 
  }
}

.navbar-fixed {
  @apply bg-opacity-95 bg-white fixed shadow-lg; 

  backdrop-filter: blur(8px);
}

.hero-gradient {
    background: linear-gradient(
        to right, 
        hsl(var(--primary)),
        hsl(var(--accent) / 0.7) 
    );

}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 30% 10%;

    --primary: 220 87% 41%; 
    --primary-foreground: 220 93% 76%;

    --secondary: 45 99% 60%;
    --secondary-foreground: 221 97% 10%;

    /* UI ELEMENTS */
    --card: 0 0% 100%;
    --card-foreground: 210 20% 10%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 216 40% 20%;
    --radius: 0.5rem; 
    
    /* MUTED, DESTRUCTIVE */
    --muted: 210 10% 95%;
    --muted-foreground: 210 5% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
  }
  
  .dark {
    --background: 210 20% 10%;
    --foreground: 0 0% 98%;
    
    --primary: 40 100% 50%;
    --primary-foreground: 210 20% 10%;
    
    --accent: 216 40% 20%;
    --accent-foreground: 0 0% 98%;
    
    --card: 210 20% 10%;
    --card-foreground: 0 0% 98%;
    
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 40 100% 50%;
  }
}